body {
    background-color: rgb(35, 35, 35);
    height: 100vh;
}

.main {
    text-align: center;
    color: rgb(5, 165, 35);
    font-family: "Nunito Sans", sans-serif;
}

.main2 {
    color: rgb(5, 165, 35);
    font-family: "Nunito Sans", sans-serif;
}

.centre {
    text-align: center;
}

.responsive {
    max-width: 50%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
    width: 75%;
    margin: 5vh auto;
    padding: 3vh;
}

.profilePhoto {
    flex: 1;
    max-width: 50%;
}

.profilePhoto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 0.75vh solid darkgreen;
}

.aboutMe {
    max-width: 70vh;
    color: rgb(5, 165, 35);
    font-family: "Nunito Sans", sans-serif;
}

/*Responsive Image and Text stacking */
@media (max-width: 75vh) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .profilePhoto img {
        width: 150vh;
        height: 150vh;
    }
}
