body {
    background-color: rgb(35, 35, 35);
    height: 100vh;
}

table {
    margin: auto;
}

.text {
    text-align: center;
    color: rgb(5, 165, 35);
    font-family: "Nunito Sans", sans-serif;
}

.text2 {
    padding-left: 10%;
    color: rgb(5, 165, 35);
    font-family: "Nunito Sans", sans-serif;
}

.legend {
    background-color: lightgrey;
    border: 0.65vh solid teal;
    width: 35%;
    overflow-wrap: break-word;
    font-family: "Nunito Sans", sans-serif;
    padding: 0.5vh;
}

.schoolwork {
    background-color: lightblue;
    border: 0.65vh solid blue;
}

.logovation {
    background-color: lightgreen;
    border: 0.65vh solid rgb(5, 165, 35);
}

.personal {
    background-color: lightyellow;
    border: 0.65vh solid yellow;
}

.proj-btn {
    width: 25vh;
    overflow-wrap: break-word;
    font-family: "Nunito Sans", sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.proj-content {
    margin: 15% auto;
    width: 80%;
    font-family: "Nunito Sans", sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0.5vh;
    gap: 2vh;
}

.containerText {
    font-family: "Nunito Sans", sans-serif;
}

.responsive {
    max-width: 50%;
    height: auto;
}

.centre {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 3vh;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
