body {
    background-color: rgb(35, 35, 35);
}

.text {
    text-align: center;
    color: rgb(0, 200, 0);
    font-family: "Nunito Sans", sans-serif;
}

.text2 {
    padding-left: 10%;
    color: rgb(0, 200, 0);
    font-family: "Nunito Sans", sans-serif;
}

.legend {
    background-color: lightgrey;
    border: 5px solid teal;
    width: 35%;
    overflow-wrap: break-word;
    font-family: "Nunito Sans", sans-serif;
    padding: 5px;
}

.schoolwork {
    background-color: lightblue;
    border: 5px solid blue;
}

.logovation {
    background-color: lightgreen;
    border: 5px solid green;
}

.personal {
    background-color: lightyellow;
    border: 5px solid yellow;
}

.proj-btn {
    width: 250px;
    overflow-wrap: break-word;
    font-family: "Nunito Sans", sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.proj-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    font-family: "Nunito Sans", sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 5px;
    gap: 5px;
}

.containerText {
    font-family: "Nunito Sans", sans-serif;
}

.responsive {
    max-width: 50%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
